.post-credits {
  display: flex;
  justify-content: space-between;
  font-size: 1.5vh;
  flex-wrap: wrap;
}
.left-credits, .right-credits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
}
.post-title {
  text-align: center;
  font-size: 7vw;
  margin-bottom: 20px;
}
#osmdContainer svg{
  display: flex;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background: white;
  padding: 20px;
  width: 90%;
}
svg {
  width: 90%;
  height: auto;
}
