.post-credits {
  display: flex;
  justify-content: space-between;
  font-size: 1.6vw;
}
.left-credits, .right-credits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
}
.right-credits {
  align-items: flex-end;
}
.post-title {
  text-align: center;
  font-size: 7vw;
  margin-bottom: 0px;
}
#osmdContainer svg{
  display: flex;
  background: white;
  width: 100%;
}
.osmd-page{
  margin: 0;
  padding: 0;
}
svg {
  width: 90%;
  height: auto;
}
