---
layout: layouts/page.vto
category: ''
url: ./
title: Songs
---

<ul data-pagefind-ignore>
<div class="search" id="search"></div>
  {{ for page of search.pages("category=songs") }}
  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {{ /for }}
</ul>